@model MvcBiblioteka.Models.Ksiazka

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ksiazka</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nr_ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nr_ISBN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tytul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tytul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Autor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Wydawnictwo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Wydawnictwo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Miejsce_Wydania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Miejsce_Wydania)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rok_Wydania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rok_Wydania)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Ilosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ilosc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
